html {
    overflow: auto
}

#root {
    height: 100vh
}

.main.main--login {
    flex-direction: row;
    align-items: center;
    background: url(./media/login-background.6b0b0bdf.svg) no-repeat 50% scroll;
    background-size: cover
}

.login {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 86px
}

@media (min-width: 768px) and (max-width: 991px) {
    .login {
        padding-top: 140px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .login {
        padding-top: 120px
    }
}

@media (min-width: 1200px) {
    .login {
        padding-top: 135px
    }
}

.login__splash {
    text-shadow: 0 2px 44px rgba(0, 0, 0, .64);
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 12.3px
}

.login a.button {
    margin: 115px 0 35px;
    text-decoration: none !important;
    color: #FFFFFF;
    padding: 6px 0;
    -webkit-appearance: none !important;
    display: inline-block;
}

@media (min-width: 576px) {
    .login a.button {
        margin-top: 60px
    }
}

.login__splash__logo {
    width: 150px
}

.login__splash__connect {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing: 11px;
}

.button {
    border-radius: 22.5px;
    border-style: none;
    -webkit-appearance: inherit;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    outline: none
}

.button:focus {
    outline: none
}


.cwpbtn--sizeM {
    width: 150px;
    height: 45px;
    font-size: 12px
}

a.cwpbtn--sizeM .button__label {
    line-height: 32px
}


.cwpbtn--type-primary-dark {
    color: #fff;
    background-color: #4ba82e;
    transition: all 0.25s ease;
    border: 1px solid #4ba82e;
}

.cwpbtn--type-primary-dark:hover,
.cwpbtn--type-primary-dark:active,
.cwpbtn--type-primary-dark:focus {
    background: transparent;
}

.footer {
    margin-top: auto !important;
    background-color: #4a4a4a;
    position: relative;
    bottom: 0;
    z-index: 1;
    flex-shrink: 0
}

.footer:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='-.3' width='200%25' height='200%25'%3E%3CfeGaussianBlur result='blurOut' in='SourceGraphic' stdDeviation='10'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M-5 20l110 80' stroke='%23000' stroke-width='10' filter='url(%23a)'/%3E%3Cpath fill='%234a4a4a' d='M0 25v75h105z'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 4vw;
    width: 100%;
    bottom: -10vw;
    top: calc(-4vw + 1px);
    background-color: transparent;
    position: absolute
}

.footer__contact {
    background-color: #4a4a4a;
    color: #fff
}

.footer__contact-row {
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    padding-top: 15px
}

@media (max-width: 991px) {
    .footer__contact-row {
        flex-wrap: wrap !important
    }
}

.footer__contact-label {
    font-size: 8px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1.6px;
    padding-bottom: 5px
}

.footer__contact-phone {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: .88;
    letter-spacing: .12px;
    color: #fff
}

.footer__contact-phone:hover {
    color: #fff
}

@media (max-width: 991px) {
    .footer__links_stores {
        padding: 20px 0
    }
}

.footer__links_stores > a > img {
    width: 94px;
    height: 28px
}

@media (max-width: 575px) {
    .footer__links_stores > a > img {
        width: 118px;
        height: 35px
    }
}

.footer__phone-col {
    min-width: 200px
}

@media (max-width: 575px) {
    .footer__phone-col {
        padding-bottom: 15px
    }
}

.footer__legal {
    background-color: #373737
}

.footer_links {
    background-color: #4a4a4a;
    color: #fff
}

.footer__legal-row {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #b8b8b8;
    flex-wrap: nowrap !important;
    align-items: center
}

@media (max-width: 767px) {
    .footer__legal-row {
        flex-wrap: wrap-reverse !important
    }
}

.footer__legal-row__copyright-col {
    white-space: nowrap;
    min-width: 190px
}

.footer__links-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px
}

@media (max-width: 991px) {
    .footer__links-row {
        align-items: normal;
        flex-direction: column
    }
}

.footer__links-please-visit {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px
}

@media (max-width: 575px) {
    .footer__links-please-visit {
        font-size: 14px
    }
}

.footer__links_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

@media (max-width: 991px) {
    .footer__links_section {
        flex-direction: column
    }
}

.footer__links-line {
    border-top: 1px solid hsla(0, 0%, 100%, .3);
    margin-top: 15px;
    margin-bottom: 0
}

.footer__links-link {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px
}

.footer__links-link:hover {
    color: #fff;
    text-decoration: none
}

@media (max-width: 575px) {
    .footer__links-link {
        font-size: 14px
    }
}

.footer__links-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start
}

@media (max-width: 575px) {
    .footer__links-col {
        flex-direction: column;
        align-items: flex-start
    }
}

.footer__legal-row__country-selector-col {
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-self: center
}

.footer__legal-row__selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end
}

@media (max-width: 767px) {
    .footer__legal-row__selectors {
        justify-content: flex-start
    }
}

.footer__legal-row > div {
    padding-top: 10px;
    padding-bottom: 10px
}

.footer__contact_social_icon {
    color: #b4b4b4;
    padding-right: 20px
}

.footer__contact_social_networks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-top: 10px
}

@media (max-width: 575px) {
    .footer__contact_social_networks {
        justify-content: flex-start
    }
}

.footer__contact_social_networks a {
    color: #fff
}

.footer__contact_social_networks a:hover {
    color: #fff;
    text-decoration: none
}

.culture-selector-container .scrollable-selectbox {
    height: 22px
}

.culture-selector-container .scrollable-selectbox__valuebox {
    display: flex;
    justify-content: flex-end;
    padding: 0
}

.culture-selector-container .scrollable-selectbox__label {
    max-width: 240px;
    font-size: 10px;
    font-weight: 700;
    margin: 0 10px 0 0
}

@media (max-width: 360px) {
    .culture-selector-container .scrollable-selectbox__label {
        max-width: 175px
    }
}

.culture-selector-container .scrollable-selectbox__inner {
    max-height: 10px
}

.scrollable-selectbox {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
    height: 60px
}

.scrollable-selectbox__valuebox {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
    padding: 10px 0 10px 10px;
    text-align: right;

    max-height: 39px;
    overflow: hidden
}

.scrollable-selectbox__label {
    text-align: left
}

.scrollable-selectbox__separator {
    height: 5px
}

.scrollable-selectbox--dark {
    color: #fff
}

.scrollable-selectbox--dark .scrollable-selectbox__separator {
    border-bottom: 1px solid #fff
}

.main-menu-container {
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    background-color: #fff;
    z-index: 10
}

.main-menu__brand.navbar-brand {
    height: auto;
    padding: 0
}

.main-menu__brand a {
    vertical-align: text-bottom
}

.main-menu__brand__image {
    height: 25px
}

.active {
    font-weight: 700
}

.flex-layout {
    display: flex;
    flex-direction: column
}

.flex-layout > .main {
    display: flex !important;
    align-items: center;
    margin-top: -49px
}

.layout {
    overflow-x: hidden;
    height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column
}

@media (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .layout {
        overflow-x: visible
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: auto;
    background-color: #f3f3f3;
    position: relative
}

@media (min-width: 992px) {
    .main {
        position: static
    }
}

.main > div:last-child {
    padding-bottom: 90px
}

@supports (-ms-ime-align:auto) {
}

/*noinspection CssUnusedSymbol*/

/*noinspection CssUnusedSymbol*/

.scrollable-selectbox .scrollable-selectbox__separator {
    margin: 0;
    color: #4a4a4a
}

/*noinspection CssUnusedSymbol*/

@supports (-moz-appearance:none) {
}

@media (min-width: 576px) {
    @supports (-moz-appearance:none) {
    }
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

:-ms-input-placeholder {
    color: #b4b4b4
}

::-moz-placeholder {
    color: #b4b4b4
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-BlackItalic.ab3134e6.eot);
    src: local("SKODA Next Black Italic"), local("SKODANext-BlackItalic"), url(./media/SKODANext-BlackItalic.ab3134e6.eot) format("embedded-opentype"), url(./media/SKODANext-BlackItalic.cd90acff.woff) format("woff"), url(./media/SKODANext-BlackItalic.2a1e3a56.ttf) format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: "SKODA Next-black";
    src: url(./media/SKODANext-Black.fa33e77d.eot);
    src: local("SKODA Next Black"), local("SKODANext-Black"), url(./media/SKODANext-Black.fa33e77d.eot) format("embedded-opentype"), url(./media/SKODANext-Black.a3e83085.woff) format("woff"), url(./media/SKODANext-Black.5e78f9bc.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-BoldItalic.996cc397.eot);
    src: local("SKODA Next Bold Italic"), local("SKODANext-BoldItalic"), url(./media/SKODANext-BoldItalic.996cc397.eot) format("embedded-opentype"), url(./media/SKODANext-BoldItalic.3059f016.woff) format("woff"), url(./media/SKODANext-BoldItalic.efd5c23d.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "SKODA Next Black Expanded";
    src: url(./media/SKODANext-BlackExpanded.202f5f9c.eot);
    src: local("SKODA Next Black Expanded"), local("SKODANext-BlackExpanded"), url(./media/SKODANext-BlackExpanded.202f5f9c.eot) format("embedded-opentype"), url(./media/SKODANext-BlackExpanded.45f235d0.woff) format("woff"), url(./media/SKODANext-BlackExpanded.7162dbce.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-Italic.40b4ab34.eot);
    src: local("SKODA Next Italic"), local("SKODANext-Italic"), url(./media/SKODANext-Italic.40b4ab34.eot) format("embedded-opentype"), url(./media/SKODANext-Italic.e8e3a2fd.woff) format("woff"), url(./media/SKODANext-Italic.d9254e88.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-Light.a067243a.eot);
    src: local("SKODA Next Light"), local("SKODANext-Light"), url(./media/SKODANext-Light.a067243a.eot) format("embedded-opentype"), url(./media/SKODANext-Light.12ad2079.woff) format("woff"), url(./media/SKODANext-Light.000a1f1b.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-Bold.1798c9a0.eot);
    src: local("SKODA Next Bold"), local("SKODANext-Bold"), url(./media/SKODANext-Bold.1798c9a0.eot) format("embedded-opentype"), url(./media/SKODANext-Bold.fdd3c7e9.woff) format("woff"), url(./media/SKODANext-Bold.bdae6bf9.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-LightItalic.4c5dcbbd.eot);
    src: local("SKODA Next Light Italic"), local("SKODANext-LightItalic"), url(./media/SKODANext-LightItalic.4c5dcbbd.eot) format("embedded-opentype"), url(./media/SKODANext-LightItalic.528b4361.woff) format("woff"), url(./media/SKODANext-LightItalic.83cee8b7.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "SKODA Next";
    src: url(./media/SKODANext-Regular.f37a65e5.eot);
    src: local("SKODA Next"), local("SKODANext-Regular"), url(./media/SKODANext-Regular.f37a65e5.eot) format("embedded-opentype"), url(./media/SKODANext-Regular.1d107d99.woff) format("woff"), url(./media/SKODANext-Regular.2d7db7a2.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

/*!
 * Bootstrap v4.5.3 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
html {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, :after, :before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

footer, main, nav {
    display: block
}

body {
    font-family: "SKODA Next";
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #000
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1, h2 {
    margin-top: 0;
    margin-bottom: .5rem
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

img {
    border-style: none
}

img {
    vertical-align: middle
}

[type=button] {
    -webkit-appearance: button
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1, h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 40px;
    font-size: 2.5rem
}

h2 {
    font-size: 32px;
    font-size: 2rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

/*noinspection CssUnusedSymbol*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-1 {
    order: 1
}

.order-4 {
    order: 4
}

.order-12 {
    order: 12
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-1 {
        order: 1
    }

    .order-sm-4 {
        order: 4
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
}

/*noinspection CssUnusedSymbol*/

/*noinspection CssUnusedSymbol*/

.navbar {
    position: relative;
    padding: .5rem 1rem
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }

}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .9)
}

/*noinspection CssUnusedSymbol*/

@supports (position:sticky) {
}

.text-nowrap {
    white-space: nowrap !important
}

@media print {
    *, :after, :before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    h2 {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    .container, body {
        min-width: 992px !important
    }

    .navbar {
        display: none
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh
}
